LBCFUBL/Service References/ShoppingServiceReference/ShoppingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LBCFUBL_WCF.DBO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LBCFUBL_WCF.DBO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3038/BusinessManagement/Shopping/ShoppingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfShopping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shopping" nillable="true" type="tns:Shopping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopping" nillable="true" type="tns:ArrayOfShopping" />
  <xs:complexType name="Shopping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Shopping_Product" nillable="true" type="tns:ArrayOfShopping_Product" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shopping" nillable="true" type="tns:Shopping" />
  <xs:complexType name="ArrayOfShopping_Product">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shopping_Product" nillable="true" type="tns:Shopping_Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopping_Product" nillable="true" type="tns:ArrayOfShopping_Product" />
  <xs:complexType name="Shopping_Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Shopping" nillable="true" type="tns:Shopping" />
      <xs:element minOccurs="0" name="id_product" type="ser:guid" />
      <xs:element minOccurs="0" name="id_shopping" type="ser:guid" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shopping_Product" nillable="true" type="tns:Shopping_Product" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Purchases" nillable="true" type="tns:ArrayOfPurchase" />
      <xs:element minOccurs="0" name="Shopping_Product" nillable="true" type="tns:ArrayOfShopping_Product" />
      <xs:element minOccurs="0" name="cost_with_margin" type="xs:double" />
      <xs:element minOccurs="0" name="cost_without_margin" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purchase" nillable="true" type="tns:Purchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchase" nillable="true" type="tns:ArrayOfPurchase" />
  <xs:complexType name="Purchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_prod" type="ser:guid" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purchase" nillable="true" type="tns:Purchase" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="Purchases" nillable="true" type="tns:ArrayOfPurchase" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="argent" type="xs:double" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
</xs:schema>