LBCFUBL/Service References/ShoppingServiceReference/ShoppingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShoppingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3038/BusinessManagement/Shopping/ShoppingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3038/BusinessManagement/Shopping/ShoppingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3038/BusinessManagement/Shopping/ShoppingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LBCFUBL_WCF.DBO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShoppingService_GetShoppings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppings" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetShoppings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingsResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetShoppingsBeforeDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingsBeforeDate" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetShoppingsBeforeDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingsBeforeDateResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetShoppingsAfterDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingsAfterDate" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetShoppingsAfterDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingsAfterDateResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_CreateShopping_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateShopping" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_CreateShopping_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateShoppingResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_DeleteShopping_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShopping" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_DeleteShopping_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShoppingResponse" />
  </wsdl:message>
  <wsdl:portType name="IShoppingService">
    <wsdl:operation name="GetShoppings">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/GetShoppings" message="tns:IShoppingService_GetShoppings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/GetShoppingsResponse" message="tns:IShoppingService_GetShoppings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingsBeforeDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/GetShoppingsBeforeDate" message="tns:IShoppingService_GetShoppingsBeforeDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/GetShoppingsBeforeDateResponse" message="tns:IShoppingService_GetShoppingsBeforeDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingsAfterDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/GetShoppingsAfterDate" message="tns:IShoppingService_GetShoppingsAfterDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/GetShoppingsAfterDateResponse" message="tns:IShoppingService_GetShoppingsAfterDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateShopping">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/CreateShopping" message="tns:IShoppingService_CreateShopping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/CreateShoppingResponse" message="tns:IShoppingService_CreateShopping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShopping">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/DeleteShopping" message="tns:IShoppingService_DeleteShopping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/DeleteShoppingResponse" message="tns:IShoppingService_DeleteShopping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShoppingService" type="tns:IShoppingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShoppings">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/GetShoppings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingsBeforeDate">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/GetShoppingsBeforeDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingsAfterDate">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/GetShoppingsAfterDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateShopping">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/CreateShopping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShopping">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/DeleteShopping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoppingService">
    <wsdl:port name="BasicHttpBinding_IShoppingService" binding="tns:BasicHttpBinding_IShoppingService">
      <soap:address location="http://localhost:3038/BusinessManagement/Shopping/ShoppingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>