LBCFUBL/Service References/PurchaseServiceReference/PurchaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PurchaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3038/BusinessManagement/Purchase/PurchaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3038/BusinessManagement/Purchase/PurchaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3038/BusinessManagement/Purchase/PurchaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LBCFUBL_WCF.DBO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchaseService_GetPurchasesForLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesForLogin" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPurchasesForLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesForLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPurchasesForLoginBeforeDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesForLoginBeforeDate" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPurchasesForLoginBeforeDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesForLoginBeforeDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPurchasesForLoginAfterDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesForLoginAfterDate" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPurchasesForLoginAfterDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesForLoginAfterDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_CreatePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePurchase" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_CreatePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_DeletePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePurchase" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_DeletePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePurchaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchaseService">
    <wsdl:operation name="GetPurchasesForLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchasesForLogin" message="tns:IPurchaseService_GetPurchasesForLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchasesForLoginResponse" message="tns:IPurchaseService_GetPurchasesForLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchasesForLoginBeforeDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchasesForLoginBeforeDate" message="tns:IPurchaseService_GetPurchasesForLoginBeforeDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchasesForLoginBeforeDateResponse" message="tns:IPurchaseService_GetPurchasesForLoginBeforeDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchasesForLoginAfterDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchasesForLoginAfterDate" message="tns:IPurchaseService_GetPurchasesForLoginAfterDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchasesForLoginAfterDateResponse" message="tns:IPurchaseService_GetPurchasesForLoginAfterDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/CreatePurchase" message="tns:IPurchaseService_CreatePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/CreatePurchaseResponse" message="tns:IPurchaseService_CreatePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/DeletePurchase" message="tns:IPurchaseService_DeletePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/DeletePurchaseResponse" message="tns:IPurchaseService_DeletePurchase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchaseService" type="tns:IPurchaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPurchasesForLogin">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/GetPurchasesForLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchasesForLoginBeforeDate">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/GetPurchasesForLoginBeforeDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchasesForLoginAfterDate">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/GetPurchasesForLoginAfterDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchase">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/CreatePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePurchase">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/DeletePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseService">
    <wsdl:port name="BasicHttpBinding_IPurchaseService" binding="tns:BasicHttpBinding_IPurchaseService">
      <soap:address location="http://localhost:3038/BusinessManagement/Purchase/PurchaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>